/*@font-face {
    font-family: "Aloevera";
    src: url("../fonts/Aloevera-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "Aloevera";
    src: url("../fonts/Aloevera-Regular.otf");
    font-weight: normal;
}*/