@import url('fonts.css');
@import url('scrollbar.css');
@import url('colors.css');
@import url('testimonials.css');
@import url('footer.css');
@import url('button.css');
@import url('landing_page.css');

h1,
h2,
h3 {
    font-family: "Aloevera";
    letter-spacing: .2rem;
    margin-bottom: 3rem;
}

body {
    background-color: var(--main-color);
    color: white;
    margin: 0;
}

p,
span {
    font-family: 'Inter', 'Sans Serif';
}

main {
    margin-left: 5rem;
}

section {
    height: 100vh;
    box-sizing: border-box;
    padding: 1rem;
}

.button {
    background-color: var(--accent-color);
    color: var(--main-color);
    padding: .4rem 1.7rem;
    border-radius: .5rem;
    display: inline-block;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Inter', 'Sans Serif';
    font-weight: 500;
}
